<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-warning">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img
        src="../img/logo.png" alt="WoW Adventure Guide" class="navbar-logo">
    </a>
    <div class="navbar-nav ms-auto">
      <a class="nav-link" routerLink="/">Inicio</a>
      <a class="nav-link" routerLink="/classes">Clases</a>
      <a class="nav-link" routerLink="/dungeons">Mazmorras</a>
      <a class="nav-link" routerLink="/recommender">Party</a>
    </div>
  </div>
</nav>