<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-warning">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img
        src="../img/logo.png" alt="WoW Adventure Guide" class="navbar-logo">
    </a>
    <div class="navbar-nav ms-auto">
      <a class="nav-link active" href="#">Inicio</a>
      <a class="nav-link" href="#">Clases</a>
      <a class="nav-link" href="#">Mazmorras</a>
      <a class="nav-link" href="#">Recomendador</a>
      <a class="nav-link" href="#">Party</a>
    </div>
  </div>
</nav>